#stars {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.star {
    height: 50px;
    width: 25px;
}

.lf-br {
    background-image: url(./star-left-before.png);
    background-size: cover;
}

.rt-br {
    background-image: url(./star-right-before.png);
    background-size: cover;
}

.left {
    background-image: url(./star-left.png);
    background-size: cover;
}

.right {
    background-image: url(./star-right.png);
    background-size: cover;
}