<!DOCTYPE html>
<html lang="en" ng-app="instaLike">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insta Like</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="./styles/styles.css">
</head>

<body>

    <div ng-controller="likeController" class="post">
        <h2>Total Likes: {{totalLikes}}</h2>

        <div ng-repeat="item in items">
            <img ng-src="{{item.imageURL}}" alt="img-{{$index+1}}" ng-dblclick="toggleLike(item)">

            <button ng-click="toggleLike(item)">{{item.isLiked ? 'Liked!' : 'Like'}}</button>
        </div>
    </div>

    <script src="./script.js"></script>
</body>

</html>