body {
    font-family: arial;
    margin: 0;
    background: #663cfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

svg {
    width: 200px;
    height: 200px;

    transform: rotate(-90deg);
    overflow: initial;
}

circle {
    fill: none;
    stroke-linecap: round;
    stroke-width: 20px;
}

circle:nth-child(1) {
    stroke: #fff
}

circle:nth-child(2) {
    stroke: #f00;
    position: relative;
    z-index: 1;
}

.circle_box:nth-child(1) circle:nth-child(2) {
    stroke-dasharray: calc(100 * 6);
    stroke-dashoffset: calc((100 * 6) - ((100 * 6) * 0) / 100);
}

.circle_box {
    font-size: 36px;
    color: #fff;
    text-align: center;
}

.circle_box div {
    position: relative;
}

.circle_box span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
}

input, button {
    font-size: 20px;
    font-weight: 700;
    margin: 2px;
    padding: 5px 10px;
}