<div class="user-box" ng-click="resetStatus()">
    <div class="user-header">
        <span class="user-name">{{ user.Name }}</span>
        <img class="status-icon" ng-src="images/{{ showStatus }}.png" alt="{{ showStatus }}">
    </div>

    <div class="user-main">
        <div class="messages" ng-repeat="message in user.Messages">{{ message }}</div>
    </div>

    <div class="user-footer">
        <input class="user-input" type="text" placeholder="Type your message..." ng-model="newMessage">
        <button class="user-button" ng-click="addMessage()">Send</button>
    </div>
</div>